<a class="waves-effect waves-light btn modal-trigger add" href="#modal3">Add a Beer</a>

<div id="modal3" class="modal">
  <div class="modal-content">
    <%= form_for @beer, :id=>"beer-form", :class=> "col s12" do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :brewery %>
        <%= f.label :brewery %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :style %>
        <%= f.label :style %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :country %>
        <%= f.label :country %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="input-field inline">
          <%= f.text_field :ibu %>
          <%= f.label :ibu %>
        </div>
        <div class="input-field inline">
          <%= f.text_field :abv %>
          <%= f.label :abv %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :image %>
        <%= f.label :image %>
      </div>
    </div>
    <div class="row">
      <div class="modal-footer">
        <%= f.submit "submit", :class=> "btn-flat" %>
      </div>
    </div>

    <% end %>
  </div>
</div>
