<%= render "shared/nav" %>

<div class="col s12 m7">
  <% Beer.each do |b| %>
    <div class="card horizontal beer_list">
      <div class="card-image beer_image">
        <%= image_tag(b.image, :class => "beer_image") %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li><%= b.name%></li>
            <li><%= b.style%></li>
            <li><%= b.brewery%></li>
            <li><%= b.country%></li>
            <li><%= b.ibu%></li>
            <li><%= b.abv%></li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
