
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Log out", logout_path, class: "btn-flat" %></li>

    </ul>
  </div>
</nav>

<% @beers.each do |beer|  %>
	
	<%= beer.style %>
	<%= beer.brewery %>
	<%= beer.country %>
	<%= beer.country %>
	<%= beer.ibu %>
	<%= beer.abv %>
	<%= beer.image %>

<% end %>

<%= render "shared/nav" %>

<!-- <div class="beer_list">
  <% @Beers.each do |b| %>
  <div class="beer">
    <%= b.name%>
    <%= b.style%>
    <%= b.brewery%>
    <%= b.country%>
    <%= b.ibu%>
    <%= b.abv%>
    <%= image_tag(b.image, :class => "beer_image") %>
  </div>
  <% end %>
</div> -->
<div class="col s12 m7">
  <% @Beers.each do |b| %>
    <div class="card horizontal">
      <div class="card-image beer_image">
        <%= image_tag(b.image, :class => "beer_image") %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li><%= b.name%></li>
            <li><%= b.style%></li>
            <li><%= b.brewery%></li>
            <li><%= b.country%></li>
            <li><%= b.ibu%></li>
            <li><%= b.abv%></li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="col s12 m7">
    <h2 class="header">Top Beers</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://placecage.com/c/155/305">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h2>Budweiser</h2>
          <h5>Anheuser-Busch</h5>
          <p>Lager</p>
          <p>12 IBU   5% ABV</p>
          <p>USA</p>
        </div>
        <div class="card-action">
          <a href="#">More Information</a>
        </div>
      </div>
    </div>
  </div>
</div>

